<div class="alert alert-success alert-dismissible" role="alert" ng-show="showRegisterInfo">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="mainController.close()"><span aria-hidden="true">&times;</span></button>
  {{"MAIN_REGISTER_INFO"|translate}}
</div>
<br/>
<div class="row" ng-show="!logged">
	<blockquote>
		<p>{{"MAIN_WELCOME_INFO"|translate}}</p>
	</blockquote>
</div>
<div class="row" ng-show="logged">
	<div class="col-sm-offset-1">
		<div class="row">
			<blockquote>
				<p>{{"MAIN_LIST_INFO"|translate}}</p>
			</blockquote>
		</div>
		<div class="row" ng-if="mainController.users.length !== 0">
			<ul ng-repeat="user in mainController.users">
				<li>user.name</li>
			</ul>
		</div>
		<div class="row col-sm-offset-1" ng-if="mainController.users.length === 0">
			<blockquote>
				<p>{{"MAIN_NO_USERS"|translate}}</p>
			</blockquote>
		</div>	
	</div>
</div>