<br/>
<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title"><p>{{"DETAILS_USER_INFO"|translate}}<strong>{{detailsController.user.name}}</strong></p></h3>
	</div>
	<div class="panel-body">
		<br/>
		<table class="table table-striped">
			<tr class="info">
				<td><strong>#</strong></td>
				<td><strong>{{"DETAILS_TIME"|translate}}</strong></td>
				<td><strong>{{"DETAILS_LATITUDE"|translate}}</strong></td>
				<td><strong>{{"DETAILS_LONGITUDE"|translate}}</strong></td>
				<td><strong>{{"DETAILS_TYPE"|translate}}</strong></td>
				<td><strong>{{"DETAILS_LINK"|translate}}</strong></td>
			</tr>
			<tr ng-repeat="coord in detailsController.user.coords | orderBy: 'date' : true | limitTo : detailsController.paginationSize : detailsController.begin">
				<td>{{$index}}</td>
				<td>{{coord.date | date : "short"}}</td>
				<td>{{coord.latitude}}</td>
				<td>{{coord.longitude}}</td>
				<td><div ng-if="coord.type === 'N'">normalny</div><div ng-if="coord.type === 'E'">warning</div></td>
				<td><button class="btn btn-sm btn-info" ng-click="detailsController.showMap($index)"><span class="glyphicon glyphicon-link"></span></button></td>
			</tr>
		</table>	
		<center>
				<span class="glyphicon glyphicon-backward" ng-click="detailsController.back()"></span>&nbsp&nbsp&nbsp
				<span class="glyphicon glyphicon-forward" ng-click="detailsController.next()"></span>
		</center>	
	</div>
</div>
<br/>
<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title"><p>{{"DETAILS_USER_SETTING"|translate}}<strong>{{detailsController.user.name}}</strong></p></h3>
	</div>
	<div class="panel-body">
		<div class="col-sm-2">
			<ul class="list-group" ng-repeat="restriction in detailsController.user.restrictions">
				<li class="list-group-item">{{restriction.name}}&nbsp<span class="glyphicon glyphicon-trash" ng-click="detailsController.deleteRestriction($index)"></span></li>
			</ul>
			<button class="btn btn-warning" ng-click=detailsController.toMap()>{{"DETAILS_NEW_REST"|translate}}</button>
		</div>
	</div>
</div>